<section class="title box">
  <h2>Deck List</h2>
  <button><a href="/decks/new">Add Deck</a></button>
</section>
<section class="content box">
  <% @decks.each do |deck| %>
    <p><a href="/decks/<%= deck.id %>"><%= deck.name %></a> by <a href="/users/<%= deck.user.username %>"><%= deck.user.username %></a> <span class="right"><%= deck.format %></span></p>
  <% end %>
</section>
