<section class="title box">

  <form action="/decks/<%= @deck.id %>" method="post">
    <input name="_method" type="hidden" value="patch" />

    <input id="deck_name" name="deck[name]" value="<%= @deck.name %>" placeholder="Deck Name" required />
    <input id="deck_format" name="deck[format]" value="<%= @deck.format %>" placeholder="Deck Format" required />

</section>

<section class="content box">

  <% if !session[:error].nil? %>
    <p class="error_message">Well there's a problem, <%= session[:error] %></p>
    <% session[:error] = nil %>
  <% end %>

  <textarea id="deck_list" name="deck_list" rows="20">
<% @deck.cards.each do |card| %><%= card.quantity(@deck.id) %>x <%= card.name %>&#13;<% end %>
  </textarea>

  <p class="formatting">Formatting: One card per line and specify each card's amount in the beginning of the line.<br /><br />Example:<br />1x Ezuri, Renegade Leader<br />1x Sol Ring</p>

</section>

<section class="button box">

    <input type="submit" id="edit_deck" value="Edit Deck" />
  </form>

</section>
