<section class="title box">

  <h2><%= @deck.name %></h2>
  <h3>by: <a href="/users/<%= @deck.user.username %>"><%= @deck.user.username %></a><span class="right"><%= @deck.format %></span></h3>

</section>

<section class="deck content box">

  <ul>
    <% ["Creature", "Artifact Creature", "Instant", "Sorcery", "Enchantment", "Artifact", "Planeswalker", "Land"].each do |type| %>
      <% if @deck.cards.where(card_type: type).count > 0 %>
        <li><%= type %>:</li>
        <% @deck.cards.where(card_type: type).each do |card| %>
          <li><%= card.quantity(@deck.id) %>x <%= card.name %></li>
        <% end %>
        <br />
      <% end %>
    <% end %>
  </ul>

</section>


<% if @deck.user == current_user %>
  <section class="button box">

    <ul>
      <form action="/decks/<%= @deck.id %>/delete" method="post">
        <input name="_method" type="hidden" value="delete" />
        <li><input type="submit" id="delete_deck" value="Delete Deck" /></li>
      </form>
      <li><button><a href="/decks/<%= @deck.id %>/edit">Edit Deck</a></button></li>
    </ul>

  </section>
<% end %>
