<h1><%= @deck.name %></h1>
<h3>Created by: <%= @deck.user.username %></h3>
<h3>Format: <%= @deck.format %></h3>
<% @deck.cards.each do |card| %>
  <p><%= card.quantity(@deck.id) %> <%= card.name %></p>
<% end %>
